{% extends 'miethome/base.html' %}
{% load static %}

{% block content %}
<!--   Форма поиска   -->
<div class="wrapper">
    <div class="search">
        <p class="form__header">Поиск по форме</p>
        <div class="form__wrapper">
            <form action="" method="GET">
                <div class="form_error">{{ form.non_field_errors }}</div>
                {% for f in form %}
                    <label for="{{ f.id_for_label }}" class="form_label">{{f.label}}: </label>
                    <p class="form_answer">{{ f }}</p>
                    <div class="form_error">{{ f.errors }}</div>
                {% endfor %}

                <div class="form_btn"><button class="btn" type="submit">Найти</button></div>
            </form>
        </div>
    </div>

    <!--   Вывод найденных студентов   -->
    <div class="matches__found">
        {% if students %}
        <p class="matches__header">{{ matches_res }}</p>
        {% for student in students %}
        <div class="matches__item">
            <img src="{{student.img.url}}" alt="Фото" class="student-photo">
            <p class="matches__text-field">Номер студенческого: {{ student.id }}</p>
            <p class="matches__text-field">ФИО: {{ student.full_name }}</p>
            <p class="matches__text-field">Дата рождения: {{ student.birth_date }}</p>
            <p class="matches__text-field">Номер приказа заселения: {{ student.home_order_number }}</p>
            <p class="matches__text-field">Номер приказа зачисления: {{ student.enrollment_order_number }}</p>
            <p class="matches__text-field">Дата зачисления: {{ student.date_enrollment }}</p>
            <p class="matches__text-field">Место рождения: {{ student.birth_place }}</p>
            <p class="matches__text-field">Комната: {{ student.room }}</p>
        </div>
        {% endfor %}
        {% else %}
        <p class="matches__header">{{matches_res}}</p>
        {% endif %}
    </div>
</div>

{% endblock content %}
