{% extends 'miethome/base.html' %}

{% block content %}
<form action="{% url 'add_student' %}" method="post" name="reg_form" class="reg_form">
            {% csrf_token %}
                <h1>Добавление нового студента</h1>
                <div>
                    {% for field in form %}
                        {{ field }}
                        {{ field.errors }}
                    {% endfor %}
                 </div>
            <input class="reg_button" type="submit" value="Добавить студента">
</form>
{% endblock %}