.floor{
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  height: 60px;
  width: 220px;
  margin-left: 20px;
  margin-top: 2px;
  text-align: center;
  line-height: 60px;
  border-radius: 10px;
  background-color: #b1b1e2;
  cursor: pointer;
}

.high{
    margin-left: 2px;
    height: 90px;
    width: 90px;
    display: inline-block;
    line-height: 90px;
}

.floor_container_high{
    margin-top: 10px;
    height: 280px;
    width: 460px;
}

.floor_container_short{
    margin-top: 10px;
    height: 280px;
    width: 460px;
}

.floor:hover {
  background-color: #9999f0;
}

.floor:active {
  background-color: #47ff8e;
}
