.housing {
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.building{
  height: 200px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  line-height: 100px;
  border-radius: 10px;
  background-color: #b1b1e2;
  cursor: pointer;
}

.long {
  display: inline;
}

.tall {
  
  display: inline;
}

.block_tall {
  height: 100px;
  width: 100px;
}

.block {
  width: 60px;
}

.building:hover {
  background-color: #9999f0;
}

.building:active {
  background-color: #47ff8e;
}
