* {
    margin: 0;
    padding: 0;
}

.stage {
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.up {
    margin-bottom: 60px;
}

.cell{
  height: 80px;
  width: 40px;
  margin: 1px;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  border-radius: 10px;
  font-size: 80%;
}

.wash_room {
  background-color: #8080ff;
  width: 82px;
  background-image: url(../img/shower.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}

.something {
    background-color: #43df9c;
    background-image: url(../img/something.png);
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: center;
}

.warehouse {
  background-color: #fb7f56;
  width: 82px;
  background-image: url(../img/something.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}

.small_warehouse {
  background-color: #fb7f56;
  background-image: url(../img/something.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.commandant {
  background-color: #9ef9ff;
  background-image: url(../img/commandant.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.toilet {
  background-color: #9e7070;
  background-image: url(../img/toilet.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.kitchen {
  background-color: #fef267;
  background-image: url(../img/kitchen.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.stair {
  background-color: #a2a0a0;
  background-image: url(../img/stair.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.room {
  background-color: #b1b1e2;
  cursor: pointer;
}


.room:hover {
  background-color: #9999f0;
}

.room:active {
  background-color: #47ff8e;
}
